.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  margin: 183px 0 0 80px;
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  font-family: "Noto Serif", Arial, sans-serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 80px;
}

.header__span-accent {
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph:last-of-type {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto 0 40px 80px;
}
